html{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.leftToDo{
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.completed{
    color: gray;
    text-decoration: line-through;
}
li{
    list-style-type: none;
}
ul{
    font-family: 'Cutive Mono', monospace;
    display: table; 
    margin: 0 auto;
    text-align: left;
}
form{
    text-align: center;
}
input{
    font-family: 'Cutive Mono', monospace;
}